out/
build/
scripts/crypto/**pycache**/
*.patch
*.rej
*.orig
build/boot.img
.config.old
scripts/kconfig/.conf.*
scripts/kconfig/conf
scripts/kconfig/.zconf.tab.o.cmd
scripts/kconfig/conf.o
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/zconf.tab.o

!prebuilts/boot_editor_v15_r1/build/
!prebuilts/boot_editor_v15_r1/build/unzip_boot/
!prebuilts/boot_editor_v15_r1/build/unzip_boot/**